<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
  </head>
  <body>
    <form class="login" action="/signedin" method="post">
      <label> UserName:</label>
      <input class="loginForm" type="text" name="username" required>
      <label> Password:</label>
      <input class="loginForm" type="password" name="password" required>
      <button type="submit"> Sign In </button>
    </form>
  </body>
</html>
